<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update expense</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/create-update-style.css" th:href="@{/css/create-update-style.css}">
</head>
<body>
<h2><a href="/expenses">Home</a></h2>
<form action="#" th:action="@{/expense-update}" th:object="${expense}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="date">date</label>
    <input type="date" th:field="*{date}" id="date" placeholder="Date">
    <label for="amount">amount</label>
    <input type="text" th:field="*{amount}" id="amount" placeholder="Amount">
    <label for="description">description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Description">
    <label for="category">Category</label>
    <select th:field="*{category}" id="category">
        <option value="Supermarket">Supermarket</option>
        <option value="Entertainment">Entertainment</option>
        <option value="Restaurant">Restaurant</option>
        <option value="Transportation">Transportation</option>
        <option value="Beauty and health">Beauty and health</option>
    </select>
    <br/>
    <div th:if="${#fields.hasErrors('*')}">
        <p style="color: red;">Please correct the following errors:</p>
        <ul>
            <li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
        </ul>
    </div>
    <input type="submit" value="Update expense">
</form>
</body>
</html>