<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Expenses by month</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/tables-style.css" th:href="@{/css/tables-style.css}">
</head>
<body>
<h2><a href="/expenses">Home</a></h2>
<div th:switch="${expensesByMonth}">
    <h2 th:case="null">No expenses found!</h2>
    <div th:case="*">
        <h2 align="center">Expenses by month</h2>
        <table>
            <thead>
            <tr>
                <th>Month</th>
                <th>Total Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${expensesByMonth}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
